<p>
	In this game, interaction is kept to a minimum.
	You build a team, and then send them off to fight monsters.
	They will eventually come back with loot for you.
</p>

<br>
Please create an account or login...<br>
